<div class="header-cate-model main-gambo-model modal fade" id="category_model" tabindex="-1" role="dialog" aria-modal="false">
    <div class="modal-dialog category-area" role="document">
        <div class="category-area-inner">
            <div class="modal-header">
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                    <i class="uil uil-multiply"></i>
                </button>
            </div>
            <div class="category-model-content modal-content"> 
                <div class="cate-header">
                    <h4>Select Category</h4>
                </div>
                <ul class="category-by-cat">
                    <% parentCategories.forEach(category => { %>
                        <li>
                            <a href="/category/<%= category._id %>" class="single-cat-item">
                                <div class="icon">
                                    <img src="<%= category.image %>" alt="<%= category.name %>">
                                </div>
                                <div class="text"><%= category.name %></div>
                            </a>
                        </li>
                    <% }); %>
                </ul>
                <a href="/categories" class="morecate-btn">
                    <i class="uil uil-apps"></i>More Categories
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category Model End -->
  <!-- Signup Modal -->
  <div class="auth-modal modal" id="signupModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered auth-dialog">
        <div class="modal-content auth-content">
            <div class="modal-body p-0">
                <button type="button" class="auth-close" data-bs-dismiss="modal">
                    <i class="uil uil-multiply"></i>
                </button>
                <div class="row m-0">
                    <div class="col-md-6 auth-form-side">
                        <div class="auth-form p-4">
                            <h4 class="auth-title">Create Account</h4>
                            <form action="/signup" method="POST" id="signupForm">
                                <div class="auth-group">
                                    <input type="text" class="auth-control" name="name" placeholder="Username">
                                </div>
                                <div class="auth-group">
                                    <input type="tel" class="auth-control" name="phone" placeholder="Mobile Number">
                                </div>
                                <div class="auth-group">
                                    <input type="email" class="auth-control" name="email" placeholder="Email">
                                </div>
                                <div class="auth-group">
                                    <input type="password" class="auth-control" name="password" placeholder="Password">
                                </div>
                                <div class="auth-group">
                                    <input type="password" class="auth-control" name="confirmPassword" placeholder="Confirm Password">
                                </div>
                                <button class="auth-btn hover-btn" type="submit">Sign Up</button>
                            </form>
                            <div class="auth-switch mt-3">
                                <p>Already have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Sign In</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 auth-brand-side">
                        <div class="auth-brand-content">
                            <img src="/images/logo.svg" alt="Fairway" class="mb-4">
                            <h2>Welcome to Fairway</h2>
                            <p>Your one-stop shop for quality groceries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Login Modal -->
<div class="auth-modal modal fade" id="loginModal" tabindex="-1" role="dialog" aria-modal="false">
    <div class="modal-dialog auth-dialog" role="document">
        <div class="auth-content">
            <div class="auth-header">
                <button type="button" class="auth-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="uil uil-multiply"></i>
                </button>
            </div>
            <div class="auth-body">
                <div class="form-title">
                    <h4>Verify Your Account</h4>
                    <p>Enter the OTP sent to your phone</p>
                </div>
                <form action="/verify-otp" method="POST" id="otpForm">
                    <div class="otp-form-group">
                        <div class="otp-inputs">
                            <input type="text" maxlength="1" class="otp-input" name="otp1">
                            <input type="text" maxlength="1" class="otp-input" name="otp2">
                            <input type="text" maxlength="1" class="otp-input" name="otp3">
                            <input type="text" maxlength="1" class="otp-input" name="otp4">
                            <input type="text" maxlength="1" class="otp-input" name="otp5">
                            <input type="text" maxlength="1" class="otp-input" name="otp6">
                        </div>
                    </div>
                    <button class="login-btn hover-btn" type="submit">Verify OTP</button>
                </form>
                <div class="resend-otp">
                    <span id="timer">Resend OTP in <span id="countdown">30</span>s</span>
                    <a href="#" id="resendBtn" style="display: none;">Resend OTP</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- OTP Modal -->
<div class="auth-modal modal fade" id="otpModal" tabindex="-1" role="dialog" aria-modal="false">
    <div class="modal-dialog auth-dialog" role="document">
        <div class="auth-content">
            <div class="auth-header">
                <button type="button" class="auth-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="uil uil-multiply"></i>
                </button>
            </div>
            <div class="auth-body">
               
            </div>
        </div>
    </div>
</div>
 <!-- Header -->
<header class="header clearfix">
    <div class="top-header-group">
        <div class="top-header">
            <div class="main_logo" id="logo">
                <a href="/"><img src="images/logo.svg" alt=""></a>
                <a href="/"><img class="logo-inverse" src="images/dark-logo.svg" alt="Fairway Supermarket"></a>
            </div>
        
            <div class="header_right">
                <ul>
                    <li class="dropdown account-dropdown">
                        <a href="#" class="opts_account" role="button" id="accountClick" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                            <% if (locals.user) { %>
                                <img src="images/avatar/img-5.jpg" alt="">
                                <span class="user__name"><%= user.name %></span>
                            <% } else { %>
                                <img src="images/avatar/default-avatar.jpg" alt="">
                                <span class="user__name">Login/Signup</span>
                            <% } %>
                            <i class="uil uil-angle-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-account dropdown-menu-end" aria-labelledby="accountClick" data-bs-popper="none">
                     
                            
                            <% if (locals.user) { %>
                                <a href="/dashboard" class="channel_item"><i class="uil uil-apps icon__1"></i>Dashboard</a>								
                                <a href="/dashboard/orders" class="channel_item"><i class="uil uil-box icon__1"></i>My Orders</a>
                                <a href="/dashboard/wishlist" class="channel_item"><i class="uil uil-heart icon__1"></i>My Wishlist</a>
                                <a href="/dashboard/wallet" class="channel_item"><i class="uil uil-usd-circle icon__1"></i>My Wallet</a>
                                <a href="/dashboard/addresses" class="channel_item"><i class="uil uil-location-point icon__1"></i>My Address</a>
                                <a href="/offers" class="channel_item"><i class="uil uil-gift icon__1"></i>Offers</a>
                                <a href="/faq" class="channel_item"><i class="uil uil-info-circle icon__1"></i>Faq</a>
                                <a href="/logout" class="channel_item"><i class="uil uil-lock-alt icon__1"></i>Logout</a>
                                <% } else { %>
                                    <a href="#" class="channel_item" data-bs-toggle="modal" data-bs-target="#signupModal">
                                        <i class="uil uil-user-plus icon__1"></i>Signup
                                    </a>
                                    <a href="#" class="channel_item" data-bs-toggle="modal" data-bs-target="#loginModal">
                                        <i class="uil uil-lock-alt icon__1"></i>Login
                                    </a>
                                <% } %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

       <!-- Sub Header Section -->
    <div class="sub-header-group">
        <div class="sub-header">
            <nav class="navbar navbar-expand-lg bg-gambo gambo-head navbar justify-content-lg-start pt-0 pb-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon">
                        <i class="uil uil-bars"></i>
                    </span>
                </button>
                <a href="#" class="category_drop hover-btn" data-bs-toggle="modal" data-bs-target="#category_model" title="Categories">
                    <i class="uil uil-apps"></i><span class="cate__icon">Select Category</span>
                </a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <div class="offcanvas-logo" id="offcanvasNavbarLabel">
                            <img src="/images/dark-logo-1.svg" alt="<%= locals.pageTitle %>">
                        </div>
                        <button type="button" class="close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="uil uil-multiply"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="offcanvas-category mb-4 d-block d-lg-none">
                            <div class="offcanvas-search position-relative">
                                <input class="canvas_search" type="text" placeholder="Search for products..">
                                <i class="uil uil-search hover-btn canvas-icon"></i>
                            </div>
                            <button class="category_drop_canvas hover-btn mt-4" data-bs-toggle="modal" data-bs-target="#category_model" title="Categories">
                                <i class="uil uil-apps"></i><span class="cate__icon">Select Category</span>
                            </button>
                        </div>
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe_5">
                            <li class="nav-item">
                                <a class="nav-link <%= locals.activePage === 'home' ? 'active' : '' %>" 
                                   href="/" aria-current="page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= locals.activePage === 'new-products' ? 'active' : '' %>" 
                                   href="/products/new">New Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= locals.activePage === 'featured' ? 'active' : '' %>" 
                                   href="/products/featured">Featured Products</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<script>
    // Show OTP Modal after successful signup
function showOtpModal() {
    $('#signupModal').modal('hide');
    $('#otpModal').modal('show');
}

// Handle OTP input
document.addEventListener('DOMContentLoaded', function() {
    const otpInputs = document.querySelectorAll('.otp-input');
    
    otpInputs.forEach((input, index) => {
        input.addEventListener('input', function() {
            if (this.value.length === 1) {
                if (index < otpInputs.length - 1) {
                    otpInputs[index + 1].focus();
                }
            }
        });

        input.addEventListener('keydown', function(e) {
            if (e.key === 'Backspace' && !this.value) {
                if (index > 0) {
                    otpInputs[index - 1].focus();
                }
            }
        });
    });
});

// Toggle password visibility
document.querySelectorAll('.password-toggle').forEach(toggle => {
    toggle.addEventListener('click', function() {
        const input = this.previousElementSibling;
        const icon = this.querySelector('i');
        
        if (input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('uil-eye-slash');
            icon.classList.add('uil-eye');
        } else {
            input.type = 'password';
            icon.classList.remove('uil-eye');
            icon.classList.add('uil-eye-slash');
        }
    });
});
</script>
  