<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">		
		<title>Fairaway</title>
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="images/fav.png">
		<script src="/user/js/cart.js"></script>
		<!-- Stylesheets -->
		<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link href='/user/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="/user/css/style.css" rel="stylesheet">
		<link href="/user/css/responsive.css" rel="stylesheet">
		<link href="/user/css/night-mode.css" rel="stylesheet">
		<link href="/user/css/customstyle.css" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="/user/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="/user/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="/user/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/user/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">

		
	</head>

<body>	


	<%- include('../partials/user/header', { parentCategories: parentCategories }) %>


	<div class="wrapper">
		<div class="gambo-Breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">New Products</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="all-product-grid">
			<div class="container">
				<div class="row">
					<!-- Sidebar -->
					
					<div class="col-lg-9">
						<div class="product-top-dt">
							<div class="product-left-title small">
								<h2>Bset Value Products</h2>
							</div>
							<div class="product-sort main-form">
	
							</div>
						</div>
						<% if(locals.bestValueProducts && bestValueProducts.length > 0) { %>
						<div class="product-list-view">
							<div class="row">
								<% bestValueProducts.forEach(product => { %>
										<div class="col-lg-3 col-md-6">
											<div class="product-item mb-30">
												<a href="/product/<%= product._id %>" class="product-img">
													<img src="<%= product.images[0] %>" alt="<%= product.name %>">
													<div class="product-absolute-options">
														<% if (product.discountPercentage > 0) { %>
															<span class="offer-badge-1"><%= product.discountPercentage %>% off</span>
														<% } %>
														<span class="like-icon <%= locals.wishlist && wishlist.products.some(p => p.toString() === product._id.toString()) ? 'liked' : '' %>" 
															title="<%= locals.wishlist && wishlist.products.some(p => p.toString() === product._id.toString()) ? 'Remove from wishlist' : 'Add to wishlist' %>"
															onclick="toggleWishlistItem(this, '<%= product._id %>')"
															data-product-id="<%= product._id %>">
													  </span>
													</div>
												</a>
												<div class="product-text-dt">
													<p>
														<% if (product.stock > 0) { %>
														
														<% } else { %>
															<span>Out of Stock</span>
														<% } %>
													</p>
													<h4><%= product.name %></h4>
													<h4><%= product.quantity+product.unit %></h4>
													<div class="product-price">
														<% if (product.discountPrice) { %>
															₹ <%= product.discountPrice %> <span>₹ <%= product.price %></span>
														<% } else { %>
															₹<%= product.price %>
														<% } %>
													</div>
													<div class="add-to-cart-wrapper">
														<% if (product.stock > 0) { %>
															<div class="cart-controls" data-product-id="<%= product._id %>">
																<button class="add-to-cart-btn" onclick="toggleQuantitySelector(this, '<%= product._id %>')">
																	<i class="uil uil-shopping-cart-alt"></i> Add to Cart
																</button>
																<div class="quantity-selector" style="display: none;">
																	<button class="qty-btn minus" onclick="handleQuantity(this, false, '<%= product._id %>')">
																		<i class="uil uil-minus"></i>
																	</button>
																	<span class="qty-value">1</span>
																	<button class="qty-btn plus" onclick="handleQuantity(this, true, '<%= product._id %>')">
																		<i class="uil uil-plus"></i>
																	</button>
																</div>
															</div>
														<% } else { %>
															<button class="out-of-stock-btn" disabled>
																Out of Stock
															</button>
														<% } %>
													</div>
												</div>
											</div>
										</div>
									<% }); %>
								<% } else { %>
									<div class="col-md-12">
										<div class="no-results">
											<h3>No products found .</h3>
										</div>
									</div>
								<% } %>
							</div>
						</div>
					</div>

					<!-- Products Section End -->
					  <!-- Pagination -->
					  <% if (pagination.totalPages > 1) { %>
						<div class="row">
							<div class="col-md-12">
								<div class="pagination-wrapper">
									<nav aria-label="Page navigation">
										<ul class="pagination justify-content-center">
											<!-- Previous Button -->
											<% if (pagination.hasPreviousPage) { %>
												<li class="page-item">
													<a class="page-link" href="?page=<%= pagination.previousPage %>" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
											<% } %>
		
											<!-- Page Numbers -->
											<% for(let i = 1; i <= pagination.totalPages; i++) { %>
												<li class="page-item <%= pagination.currentPage === i ? 'active' : '' %>">
													<a class="page-link" href="?page=<%= i %>"><%= i %></a>
												</li>
											<% } %>
		
											<!-- Next Button -->
											<% if (pagination.hasNextPage) { %>
												<li class="page-item">
													<a class="page-link" href="?page=<%= pagination.nextPage %>" aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
											<% } %>
										</ul>
									</nav>
									<div class="products-count text-center mt-2">
										Showing <%= (pagination.currentPage - 1) * pagination.limit + 1 %> to 
										<%= Math.min(pagination.currentPage * pagination.limit, pagination.totalProducts) %> 
										of <%= pagination.totalProducts %> products
									</div>
								</div>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		</div>
				</div>
			</div>
		</div>
	</div>

	
	

	<!-- Body End -->
	<!-- Footer Start -->
	
	<!-- Footer End -->

	<!-- Javascripts -->
	<script src="/user/js/jquery.min.js"></script>
	<script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/user/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="/user/vendor/OwlCarousel/owl.carousel.js"></script>
	<script src="/user/js/jquery.countdown.min.js"></script>
	<script src="/user/js/custom.js"></script>
	<script src="/user/js/offset_overlay.js"></script>
	<script src="/user/js/night-mode.js"></script>
	
	
	
</body>
</html>